@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --ring: 224 71% 75%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
  }
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}
